# llmsg
numpy==1.24.2
networkx==3.1
shapely
# interfuser
torch>=1.4.0
torchvision>=0.5.0
pyyaml
scikit-image
pygame
# open3d
# py_trees
# simple-watchdog-timer
# tabulate
easydict
dictor==0.1.5
imgaug==0.4.0
# scenario_runner
# py-trees==0.8.3
# numpy==1.18.4; python_version >= '3.0'
# networkx==2.2
# Shapely==1.7.1
psutil
xmlschema==1.0.18
ephem
tabulate
opencv-python==4.5.1.48
matplotlib
six
simple-watchdog-timer
antlr4-python3-runtime==4.10
graphviz
